body{
font-size:12px;
}
label{
display:visible;
}
.warp {
    background: url("../images/bg.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
    color: #222222;
    font-size: 12px;
    line-height: 22px;
}
.mainbody {
    margin: auto;
    width: 960px;
}
.logo {
    background: none repeat scroll 0 0 #FFFFCC;
    height: 200px;
    width: 960px;
}
.menu {
    width: 960px;
}
.menu .yiji {
    height: 34px;
    overflow: hidden;
    width: 960px;
}
.menu .menu-l {
    background: url("../images/menu-l.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 34px;
    width: 5px;
}
.menu .menu-c {
    background: url("../images/menu-c.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    display: inline;
    float: left;
    height: 34px;
    padding: 0 0 0 10px;
    width: 940px;
}
.menu .menu-c li {
    display: inline;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    margin: 0 5px;
}
.menu .menu-r {
    background: url("../images/menu-r.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 34px;
    width: 5px;
}
.menu .erji {
    background: url("../images/menubg2.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    font-family: Arial;
    height: 31px;
    line-height: 31px;
    padding: 0 10px 0 20px;
    width: 930px;
    word-spacing: 10px;
}
.content {
    overflow: hidden;
	background-color:#fff;
    
}
.left {
    float: left;
    width: 705px;
}
.right {
    float: right;
    width: 277px;
	
}
.copy {
    color: #FFFFFF;
    margin: 10px auto 0;
    width: 950px;
}
.copy .cd {
    background: none repeat scroll 0 0 #A81400;
    height: 2px;
    text-align: center;
    width: 950px;
}
.copy .copyright {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #000000;
    line-height: 24px;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    width: 950px;
}
.part1 {
    overflow: hidden;
    width: 705px;
}
.banner1 {
    float: left;
    height: 127px;
    margin-bottom: 10px;
    width: 950px;
}
.box1 {
    float: right;
    height: 214px;
    width: 378px;
    margin-left: 12px;
}
.part2 .title {
    float: left;
    height: 24px;
}
.box1 .title {
    
    float: left;
    height: 24px;
    width: 378px;
}
.part2 .title .more {
    float: right;
    line-height: 28px;
}
.box1 .title .more {
    float: right;
    line-height: 28px;
}
.box1 .title h1 {
    font-family: 微软雅黑;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 88px;
}
.part2 .ul_style {
    float: left;
    width: 693px;
	background-color:#fff;
	height:188px;
	border:1px solid #cdcdcd;
	border-top:none;
	overflow:hidden;
}

.box1 .ul_style {
    float: left;
    background-color:#fff;
    height:177px;
    border:1px solid #cdcdcd;
    border-top:none;
    overflow:hidden;
    width: 371px;
    padding:5px 0px 5px 5px; 
}

.box1 ul li {
    display: inline;
    float: left;
    line-height: 24px;
    width: 365px;
}
.box1 li span {
    color: #444444;
}
.box2 {
    float: left;
    height: 214px;
    width: 315px;
}
.box2 .titles {
    background: url("../images/titlebg2.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 28px;
    width: 313px;
}
.box2 .titles .more {
    float: right;
    line-height: 28px;
    margin-right: 10px;
}
.box2 .titles h1 {
    font-family: 微软雅黑;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 88px;
}
.box2 ul {
    float: left;;
    width: 313px;
}
.box2 ul li {
    display: inline;
    float: left;
    line-height: 24px;
    width: 305px;
}
.box2 li span {
    color: #444444;
    float: right;
}
.box4 {
    float:left;
    background: url("../images/tzbg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #F1D0D0;
    height: 208px;
    width: 233px;
}
.box4 h1 {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    width: 223px;
}
.box4 h1 span {
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
}
.box4 #demo {
    float: left;
    height: 168px;
    overflow: hidden;
    width: 233px;
}
.box4 ul {
    margin: 0 0 0 10px;
}
.box4 li {
    float: left;
    line-height: 24px;
    padding-left: 5px;
    width: 215px;
}
.part2 {
    margin-top: 10px;
    overflow: hidden;
    width: 705px;
}
.part2 .title {
    width: 705px;
	border-bottom:2px solid #1353A9; 
}
.part2 .nr {
    width: 688px;
}
.part2 .nr .tu {
    float: left;
    width: 227px;
}
.part2 .nr .tu img {
    height: 165px;
    width: 227px;
}
.part2 .nr .tu p {
    background: none repeat scroll 0 0 #F0F0F0;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 227px;
}
.part2 .nr .wenzi {
    float: left;
    height: 197px;
    margin-left: 20px;
    width: 420px;
}
.part2 .nr .wenzitwo {
    float: left;
    height: 197px;
    width: 703px;
}

.part2 .nr .wenzi h1 {
    color: #780107;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.part2 .nr .wenzi p {
    border-bottom: 1px solid #EAD6D7;
    color: #444444;
    padding-bottom: 5px;
    text-indent: 2em;
}
.part2 .nr .wenzi p span {
    color: #780107;
}
.part2 .nr .wenzi ul {
    margin-top: 5px;
}
.part2 .nr .wenzi ul li {
    float: left;
    line-height: 24px;
    padding-left: 10px;
    width: 410px;
}

.part2 .nr .wenzitwo ul li {
    float: left;
    line-height: 24px;
    width: 688px;
}

.part2 .nr .wenzi ul li span {
    color: #444444;
    float: right;
}

.part2 .nr .wenzitwo ul li span {
    color: #444444;
    float: right;
}
.sousuo {
    height: 30px;
    width: 235px;
}
.sousuo1 {
    border: 1px solid #CCCCCC;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    width: 177px;
}
.sousuo2 {
    float: left;
    width: 50px;
}

.box5 {
    margin-top: 10px;
    width: 249px;
	height:237px;
	border:1px solid #cdcdcd;
}

.box5 ul {
    margin-top: 5px;
    width: 233px;
}
.box5 li {
    display: inline;
    float: left;
    line-height: 24px;
    width:100%;
}
.box6 {
    height: 70px;
    margin-top: 10px;
    width: 235px;
}
.ad_box {
    height: 50px;
    margin-top: 10px;
    width: 235px;
} 
.lw_box {
    height: 58px;
    margin-top: 10px;
    width: 235px;
}

.partner {
    
    float: left;
    margin-top: 10px;
    overflow: hidden;
    width: 980px;
}
.partner .title {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    width: 979px;
	border-bottom:2px solid #1353A9;
}
.partner .txt{
    padding-left:10px;
	padding-right:10px;
	background-color:#1353A9;
	color:#fff;
	height:24px;
	display:inline-block;
}
.partner ul {
    overflow:hidden;
    margin: auto;
    width: 977px;
	border: 1px solid #DADADA;
	border-top:none;
}
.partner li {
    float: left;
}
.partner li a {
    line-height: 30px;
    margin-left: 10px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0 none;
}
:focus {
    outline: 0 none;
}
address, caption, cite, code, dfn, em, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
code, kbd, samp, tt {
    font-size: 100%;
}
input, button, textarea, select {
}
body {
    line-height: 1.5;
}
ol, ul {
    list-style: none outside none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
}
sup, sub {
    font-size: 100%;
    vertical-align: baseline;
}
:link, *:visited, ins {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
.btn_blue{
	margin-left:10px;
	width:64px;
	height:30px;
	background:url(../images/btn_blue.jpg) no-repeat;
	border:none;
	color:#fff;
}
.btn_red{
    width:64px;
    height:30px;
    background:url(../images/btn_red.jpg) no-repeat;
    border:none;
    color:#fff;
}
.left_55{
	margin-left:35px;
}
.email{
	width:233px;
	height:233px;
	background:url(../images/email.jpg) no-repeat;
	cursor:pointer;
}
.mg{
	width:233px;
    height:300px;
    background:url(../images/mg.png) no-repeat;
    cursor:pointer;
}
.partner_li{
	padding:10px;
	margin-left:15px;
}
.partner_li span{
	margin-right:15px;
	cursor:pointer;
}
.part4 .title span{
	float: right;
    margin-right: 10px;
}

.color_red{
	color:red;
}
.color_blue{
    color:blue;
}
.color_green{
    color:green;
}
.dl_left{
	width:64px;
	height:237px;
	position:absolute;
	top:0px;
	left:70px;
	background:url(../images/dl.png);
}
.dl_right{
    width:64px;
    height:237px;
    position:absolute;
    top:0px;
    right:70px;
    background:url(../images/dl.png);
}



.paging{
    text-align:center;
    padding:20px 0px;
}
.paging a{
    padding:4px;
    margin-right:10px;
}
.listed{
    height:auto;
    overflow:hidden;
}
.listed li{
    padding:3px 0px;
    width:100%;
    float:left;
}
.listed li span{
    float:right;
    margin-right:10px;
}
.listed li a{
    float:left;
}
.gywm{
	background:url(../images/gywm.png);
	width:600px;
	height:480px;
}
.span_style{
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    vertical-align: middle;
    text-indent:5px;
}
.demox li a{
	float:left;
}
.demox li span{
    float:right;
}
.demox li span img{
    width:20px;
    height:20px;
}
.listed li span a{
	padding:5px;
	color:blue;
	cursor:pointer;
	text-decoration:underline;
}
.new_gif{
   width:28px;
   height:12px;
   background:url(../images/new.gif);
}
.box1 li a{
   font-size:12px;
}
.box2 li span.styles{
   float:none;
}
.view-content li span.span_style{
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    vertical-align: middle;
    text-indent:5px;
	float:none;
}
.part2 .nr .wenzitwo ul li span.span_style{
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    vertical-align: middle;
    text-indent:5px;
	float:none;
}

.fwdt{
width:705px;
height:265px;
background:url(../images/fwdt.jpg);
z-index:1px;
}
.left_menu_style{
  margin-top:50px;
  margin-left:88px;
  float:left;
  width:116px;
}
.left_menu_style ul{
overflow:hidden;
}
.left_menu_style li{
   float:left;
   width:116px;
   height:30px;
   line-height:30px;
   text-align:center;
   background:url(../images/icon27.gif) no-repeat 10px center;
}
.left_menu_style li:hover{
   background-color:#fff;
}
.left_menu_style li:hover a{
   color:red;
}
.left_menu_style li a{
   color:#006699;
   font-size:14px;
   font-weight:bold;
}
.left_menu_style li a.color_red{
   color:red;
}
.back_li{
  background:#fff url(../images/left_li_back.jpg) no-repeat;
}
.comm_style{
  position:relative;
}
.comm_style .block-menu{
  position:absolute;
  left:220px;
  top:47px;
  z-index:20;
}
.comm_style .menu {
  margin-left:5px;
  width:344px;
  height:auto;
  overflow:hidden;
  list-style:none;
}
.comm_style .menu li{
  list-style:none;
  float:left;
  margin:2px 5px;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  *margin-left: 0.3em;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.comm_style .menu li:hover{
  
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.comm_style .menu li:hover a{
  color: #ffffff;
}
.comm_style .menu li a:hover{
  text-decoration:none;
}
.node-ztbxx h2,.node-gsgg h2,.node-dqtd h2,.node-gzdt h2,.node-zcfg h2,.node-jgyw h2,.node-bszn h2,.node-xhbz h2{
  text-align:center;
  font-weight:bold;
  padding-top:10px;
  font-size:20px;
}
.node-ztbxx .meta,.node-gsgg .meta,.node-dqtd .meta,.node-gzdt .meta,.node-zcfg .meta,.node-jgyw .meta,.node-bszn .meta,.node-xhbz .meta{
  display:none;
}
.block .field-item p{
   text-align:left;
}
.title_h2{
  text-indent:1em;
  font-weight:bold;
  padding:3px;
  background-color;
}
#block-user-login{
  width:249px;
  height:210px;
  border:1px solid #cdcdcd;
}
#block-user-login h2{
  float: left;
  height: 28px;
  width: 249px;
  font-family: 微软雅黑;
  font-size: 14px;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  text-indent:15px;
  border-bottom:1px solid #1353A9;
  color:#1353A9;
}
#block-user-login  .content{
  float:left;
  margin-left:21px;
}
#block-user-login .form-item{
  margin-left:10px;
}
.form-item label{
    height:34px;
	line-height:34px;
	width:60px;
}
.form-item label,.form-item input{
  float:left;
}

#user-login-form  .form-actions {
  padding-top:0px;
  margin:0px;
}
#user-login-form .item-list ul,#user-login-form  .item-list ul li{
  float:left;
}
#user-login-form .item-list ul li{
  margin:0px 5px;
}
#edit-actions{
   padding-top:10px;
}
.content_style{
   min-height:500px;
   background-color:whiteSmoke;
   margin-left:5px;
}

#block-system-main .view-content .item-list ul li{
  padding:2px 3px;
}
.span_style_h{
  padding:5px 0px 10px 0px;
  display:inline-block;
  width:100%;
  text-align:center;
  color:#909090;
}
.field-name-field-download-file{
  display:none;
}
.margin-left{
  margin-left:20px;
  font-weight:bold;
  padding:5px;
}
.margin-left a{
  color:#006699;
  text-decoration:underline;
}
#footer{
  border-top:2px solid #1353A9;
}
body{
  background:url(../images/back.jpg) no-repeat;
}
#header .section{
   
}

.box1 .title{
  border-bottom:2px solid #1353A9;
}
.box1 .title .more{
   float:right;
}
.box1 .title .more a{
  padding-right:19px;
  background:url(../images/more.png) no-repeat right center;
}
.box5 .title .more a{
  padding-right:19px;
  background:url(../images/more.png) no-repeat right center;
}
.box1 .txt{
  background-color:#1353A9;
  color:#fff;
  height:24px;
  line-height:24px;
  display:inline-block;
  padding:0px 10px;
}
.box2 .ul_style{
  border:1px solid #cdcdcd;
  border-top:none;
  width:308px;
  height:176px;
  padding:5px 0px 5px 5px;
}
.box2 .title{
  border-bottom:2px solid #1353A9;
}
.box2 .title .more{
   float:right;
}
.box2 .title .more a{
  padding-right:19px;
  background:url(../images/more.png) no-repeat right center;
}
.box2 .txt{
  background-color:#1353A9;
  color:#fff;
  height:24px;
  line-height:24px;
  display:inline-block;
  padding:0px 10px;
}
.box5 .title{
  border-bottom:1px solid #1353A9;
  color:#000;
  height:25px;
}
.box5 .title .more a{
  padding-right:19px;
  background:url(../images/more.png) no-repeat right center;
}
.part2 .title .more a{
  padding-right:19px;
  background:url(../images/more.png) no-repeat right center;
}

.box5 .more{
  float:right;
  line-height:28px;
}
.box5 .txt{
  float:left;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color:#1353A9;
}
.part2 .txt{
  float:left;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:#1353A9;
  color:#fff;
}
.part2 .wenzitwo{
  border:1px solid #cdcdcd;
  border-top:none;
}
#main-menu-links{
  background:url(../images/menu-c.png) repeat-x;
}
.top{
  width:100%;
  height:40px;
  border-bottom:2px solid #1353A9;
}
.top_content{
  width:1000px;
  height:40px;
  margin:0px auto;
  overflow:hidden;
}
#block-menu-menu-top-left{
  float:left;
  width:700px;
  line-height:38px;
}
#block-menu-menu-top-left ul{
  list-style:none;
}
#block-menu-menu-top-left li{
  list-style:none;
  float:left;
  
  font-size:12px;
}
#block-menu-menu-top-left .leaf a{
  padding-left:0.5em;
  border-left:1px solid #333;
}
#block-menu-menu-top-left .first a{
  border-left:none;
}

#block-menu-menu-top-right .leaf a{
  padding-left:0.5em;
  border-left:1px solid #333;
}
#block-menu-menu-top-right .first a{
  border-left:none;
}
#block-menu-menu-top-right{
  float:right;
  width:85px;
  overflow:hidden;
}
#block-menu-menu-top-right ul{
  list-style:none;
}
#block-menu-menu-top-right li{
  list-style:none;
  float:left;
  height:38px;
  line-height:38px;
  font-size:12px;
}
#header .section{
  background:url(../images/logo.png) no-repeat;
}
.box11 {
    border: 1px solid #DFDFDF;
    height: 263px;
    margin-top: 10px;
    width: 233px;
    border-top:none;
}
.box11 h1 {
    background: url("../images/titlebg2.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 27px;
    padding-left: 10px;
    width: 223px;
}
.box11 p {
    border-bottom: 1px solid #E7E7E7;
    color: #780107;
    margin-top: 5px;
    padding-left: 10px;
}
.box11 ul {
    margin-top: 8px;
}
.box11 li {
    float: left;
    line-height: 23px;
    margin-left: 10px;
    padding-left: 10px;
    width: 203px;
}
#block-user-login .form-item{
   width:190px;
   height:auto;
   overflow:hidden;
}
#block-user-login .item-list{
   width:190px;
   height:auto;
   overflow:hidden;
}
#block-user-login .form-actions{
   width:190px;
   height:auto;
   overflow:hidden;
}
#footer .menu .leaf{
   float:left;
   list-style:none;
   padding:0px 7px;
}
.block{
	float:left;
	
}
.view-content .span_style{
	float:left;
}
.ul_style{
	border:1px solid #cdcdcd;
	border-top:none;
}
.part2 .ul_style li{
	float:left;
	width:100%;
}
.part2 .ul_style li .clearfix li span{
	float:right;
}
.part2 .ul_style li .clearfix li span.span_style{
    float:left;
}
.part2 .ul_style .views-row{
	display:inline-block;
}
.part2 .ul_style{
	padding:5px;
}
#block-block-3{
	width:980px;
	text-indent:center;
}
.box5 .clearfix ul{
	width:100%;
	overflow:hidden;
}
.box5 .clearfix ul li{
	padding-left:0px;
}
.box5 .clearfix ul li span{
    float:right;
}
.box5 .clearfix ul li span.span_style{
    float:left;
}
#footer .block{
	float:none;
	text-indent:center;
}
#block-user-login{
	margin-top:10px;
}
.box1 .ul_style .field-content,.box2 .ul_style .field-content,.box5 .field-content{
	float:left;
	width:73%;
	font-size:12px;
	height:24px;
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.part2 .ul_style .field-content{
	float:left;
    width:75%;
    font-size:12px;
    height:24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}

.box1 .ul_style .date,.box2 .ul_style .date,.part2 .ul_style .date{
	float:right;
}
.box5 .views-row .field-content{
	float:left;
}
.box5 .views-row div{
    float:right;
}
.box5 ul{
	padding:6px;
	padding-top:0;
}
.box1 .views-row a,.box5 .views-row a,.box2 .views-row a,.part2 .views-row a,#footer li a
,.pages_style .ul_style .views-row .field-content a{
	color:#333;
}
.pages_style{
	width:708px;
	min-height:400px;
	margin-left:5px;
}
.pages_style .title{
	padding:10px;
	margin:10px;
	border-bottom:2px solid #1353A9;
}
.pages_style .title .txt{
	font-size:16px;
	font-weight:bold;
}
.pages_style .ul_style{
	margin: 10px;
    padding: 10px;
    border:0;
}
.pages_style .ul_style .views-row .field-content{
	float:left;
	width:80%;
	height:24px;
	font-size:12px;
    height:24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.pages_style .ul_style .views-row .date{
	float:right;
}
.content_style .clearfix{
	padding:5px;
}
.content_style .clearfix p{
	text-align:left;
}
.pages_style .more{display:none;}
#node-51 .webform-client-form .form-item,#node-51 .webform-client-form .form-actions{
	float:left;
	width:100%;
}
#node-51 .webform-client-form .form-item label{
	width:100px;
	text-align:right;
}
#node-51 .webform-client-form .form-item .form-text{
	float:left;
	width:200px;
}
#node-51 .form-textarea-wrapper{
	float:left;
	width:210px;
}
#node-51 .webform-container-inline label{
	margin-right:0px;
}
#node-51 .webform-client-form .form-item .form-textarea,
#node-51 .webform-client-form .form-item .grippie{
	float:left;
    width:400px;
}
#node-51 .webform-client-form .form-item .grippie{
	width:398px;
}

#node-51 .webform-client-form .form-actions .form-submit{
	float:left;
	margin-left:100px;
}
#node-51 .form-item, .form-actions{
	margin-top:0px;
}
#block-views-notice-view-block{}
.box_top{
	width:980px;
	height:30px;
	padding-left:20px;
	text-indent:20px;
	background:#fff url(../images/notice.gif) no-repeat 15px 8px;
	
}
.box_top li{
	line-height:30px;
	height:30px;
}
.box_top li a{
	color:#000;
	font-size:12px;
}
.content_style h2{
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
#block-system-main{width:100%}

#demo1 {
float: left;
width:100%;
margin-top:0px;
}
#demo2 {
float: left;
width:100%;
}
#demo {
margin-left:10px;
background: #FFF;
height:30px;
overflow:hidden;
}
.return_top{
	width:41px;
	height:42px;
	position:absolute;
	bottom:98px;
	right:128px;
	background:url(../images/return_top.png);
	display:inline-block;
}
#main{
position:relative;