body{
    font-size:12px;
}
label{
    display:visible;
}
.warp {
    background: url("../images/bg.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
    color: #222222;
    font-size: 12px;
    line-height: 22px;
}
.mainbody {
    margin: auto;
    width: 1000px;
}
.logo {
    background: none repeat scroll 0 0 #FFFFCC;
    height: 200px;
    width: 1000px;
}
a:link {
    color: #222222;
    text-decoration: none;
}
a:visited {
    color: #222222;
    text-decoration: none;
}
a:hover {
    color: #B41300;
    text-decoration: none;
}
a.red:link {
    color: #780107;
    text-decoration: none;
}
a.red:visited {
    color: #780107;
    text-decoration: none;
}
a.red:hover {
    color: #000000;
    text-decoration: none;
}
a.white:link {
    color: #FFFFFF;
    text-decoration: none;
}
a.white:visited {
    color: #FFFFFF;
    text-decoration: none;
}
a.white:hover {
    color: #FFFFCC;
    text-decoration: none;
}
.menu {
    width: 1000px;
}
.menu .yiji {
    height: 34px;
    overflow: hidden;
    width: 1000px;
}
.menu .menu-l {
    background: url("../images/menu-l.jpg") no-repeat ;
    float: left;
    height: 34px;
    width: 5px;
}
.menu .menu-c {
    background: url("../images/menu-c.jpg") repeat-x ;
    display: inline;
    float: left;
    height: 34px;
    padding: 0 0 0 20px;
    width: 940px;
}
.menu .menu-c li {
    display: inline;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    margin: 0 5px;
}
.menu .menu-r {
    background: url("../images/menu-r.jpg") no-repeat ;
    float: right;
    height: 34px;
    width: 5px;
}
.menu .erji {
    background: url("../images/menubg2.jpg") repeat-x ;
    font-family: Arial;
    height: 31px;
    line-height: 31px;
    padding: 0 10px 0 20px;
    width: 930px;
    word-spacing: 10px;
}
.content {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    
}
.left {
    float: left;
    width: 708px;
}
.right {
    float: right;
    width: 277px;
}
.copy {
    color: #FFFFFF;
    margin: 10px auto 0;
    width: 950px;
}
.copy .cd {
    background: none repeat scroll 0 0 #A81400;
    height: 2px;
    text-align: center;
    width: 950px;
}
.copy .copyright {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #000000;
    line-height: 24px;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    width: 950px;
}
.part1 {
    overflow: hidden;
    width: 708px;
}
.banner1 {
    float: left;
    height: 127px;
    margin-bottom: 10px;
    width: 950px;
}
.box1 {
    height: 188px;
    width: 360px;
    margin-left: 10px;
}
.box1 .title {
    float: left;
    height: 28px;
    width: 355px;
    line-height:29px;
	font-weight:bold;
}
.box1 .title .more {
    float: right;
    line-height: 28px;
    margin-right: 10px;
}
.box1 .title h1 {
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 88px;
}
.box1 ul {
    float: left;
    width: 360px;
}
.box1 ul li {
    display: inline;
    float: left;
    line-height: 24px;
    width: 340px;
}
.box1 li span {
    color: #444444;
    float: right;
}
.box2 {
    float: left;
    height: 216px;
    width: 311px;
    border:1px solid #aaa;
    margin-right:3px;
}
.box2 .titles {
    background: url("../images/titlebg2.jpg") repeat-x ;
    float: left;
    height: 28px;
    width: 313px;
}
.box2 .titles .more {
    float: right;
    line-height: 28px;
    margin-right: 10px;
}
.box2 .titles h1 {
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 88px;
}
.box2 .ul_style{
	margin:5px;
}
.box2 ul li {
    display: inline;
    float: left;
    line-height: 24px;
    width: 100%;
}
.box2 li span {
    color: #444444;
    float: right;
}

.box3 {
    float: left;
    height: 218px;
    width: 313px;
    border:1px solid #aaa;
    border-top:none;
    margin-left:2px;
}
.box3 .title {
    background: url("../images/titlebg2.jpg") repeat-x ;
    float: left;
    height: 28px;
    width: 313px;
}
.box3 .title .more {
    float: right;
    line-height: 28px;
    margin-right: 10px;
}
.box3 .title h1 {
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 88px;
}
.box3 .ul_style{
	margin:5px;
}
.box3 ul li {
    display: inline;
    float: left;
    line-height: 24px;
    width: 100%;
}
.box3 li span {
    color: #444444;
}
.box4 {
    background: url("../images/tzbg.jpg") repeat-x ;
    border: 1px solid #F1D0D0;
    height: 208px;
    width: 233px;
}
.box4 h1 {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    width: 223px;
}
.box4 h1 span {
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
}
.box4 #demo {
    float: left;
    height: 168px;
    overflow: hidden;
    width: 233px;
}
.box4 ul {
    margin: 0 0 0 10px;
}
.box4 li {
    float: left;
    line-height: 24px;
    padding-left: 5px;
    width: 215px;
}
.part2 {
    height: auto;
    overflow: hidden;
    width: 681px;
}
.part2 .title {
    height: 28px;
    line-height: 28px;
    width: 681px;
}
.part2 .title h1 {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-right: 30px;
    text-align: center;
    width: 88px;
}
.part2 .title span {
    float: right;
    margin-right: 10px;
}
.part2 .title .more a{
	color:blue;
	text-decoration:underline;
}
.part2 .nr {
    width: 688px;
}
.part2 .nr .tu {
    float: left;
    width: 227px;
}
.part2 .nr .tu img {
    height: 165px;
    width: 227px;
}
.part2 .nr .tu p {
    background: none repeat scroll 0 0 #F0F0F0;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 227px;
}
.part2 .nr .wenzi {
    float: left;
    height: 197px;
    margin-left: 20px;
    width: 420px;
}
.part2 .nr .wenzitwo {
    float: left;
    height: 197px;
    width: 703px;
}

.part2 .nr .wenzi h1 {
    color: #780107;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.part2 .nr .wenzi p {
    border-bottom: 1px solid #EAD6D7;
    color: #444444;
    padding-bottom: 5px;
    text-indent: 2em;
}
.part2 .nr .wenzi p span {
    color: #780107;
}
.part2 .nr .wenzi ul {
    margin-top: 5px;
}
.part2 .nr .wenzi ul li {
    float: left;
    line-height: 24px;
    padding-left: 10px;
    width: 410px;
}

.part2 .nr .wenzitwo ul li {
    float: left;
    line-height: 24px;
    width: 688px;
}

.part2 .nr .wenzi ul li span {
    color: #444444;
    float: right;
}

.part2 .nr .wenzitwo ul li span {
    color: #444444;
    float: right;
}

.sousuo {
    height: 30px;
    width: 235px;
}
.sousuo1 {
    border: 1px solid #CCCCCC;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    width: 177px;
}
.sousuo2 {
    float: left;
    width: 50px;
}

.box5 {
    border: 1px solid #aaa;
    height: 192px;
    margin-top: 10px;
    width: 268px;
    border-top:none;
    overflow:hidden;
}
.box5 h1 {
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 27px;
    padding-left: 10px;
    width: 223px;
}
.box5 h1 span {
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
}
.box5 ul {
    margin-top: 5px;
    width: 233px;
}
.box5 li {
    display: inline;
    float: left;
    line-height: 24px;
    margin-left: 10px;
    width: 250px;
}
.box6 {
    height: 70px;
    margin-top: 10px;
    width: 235px;
}
.ad_box {
    height: 50px;
    margin-top: 10px;
    width: 235px;
}
.lw_box {
    height: 58px;
    margin-top: 10px;
    width: 235px;
}

.partner {
    border: 1px solid #aaa;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    width: 998px;
}
.partner .title {
    background: url("../images/rbg.jpg") repeat-x ;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    width: 998px;
}
.partner ul {
    height: auto;
    margin: auto;
    width: 998px;
}
.partner li {
    float: left;
}
.partner li a {
    line-height: 30px;
    margin-left: 10px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0 none;
}
:focus {
    outline: 0 none;
}
address, caption, cite, code, dfn, em, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
code, kbd, samp, tt {
    font-size: 100%;
}
input, button, textarea, select {
}
body {
    line-height: 1.5;
}
ol, ul {
    list-style: none outside none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
}
sup, sub {
    font-size: 100%;
    vertical-align: baseline;
}
:link, *:visited, ins {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
.btn_blue{
	margin-left:10px;
	width:64px;
	height:30px;
	background:url(../images/btn_blue.jpg) no-repeat;
	border:none;
	color:#fff;
}
.btn_red{
    width:64px;
    height:30px;
    background:url(../images/btn_red.jpg) no-repeat;
    border:none;
    color:#fff;
}
.left_55{
	margin-left:35px;
}
.email{
	width:233px;
	height:233px;
	background:url(../images/email.jpg) no-repeat;
	cursor:pointer;
}
.mg{
	width:233px;
    height:300px;
    background:url(../images/mg.gif) no-repeat;
    cursor:pointer;
}
.partner_li{
	padding:10px;
	margin-left:15px;
}
.partner_li span{
	margin-right:15px;
	cursor:pointer;
}
.part4 .title span{
	float: right;
    margin-right: 10px;
}

.color_red{
	color:red;
}
.color_blue{
    color:blue;
}
.color_green{
    color:green;
}
.dl_left{
	width:64px;
	height:237px;
	position:absolute;
	top:0px;
	left:70px;
	background:url(../images/dl.gif);
}
.dl_right{
    width:64px;
    height:237px;
    position:absolute;
    top:0px;
    right:70px;
    background:url(../images/dl.gif);
}



.paging{
    text-align:center;
    padding:20px 0px;
}
.paging a{
    padding:4px;
    margin-right:10px;
}
.listed{
    height:auto;
    overflow:hidden;
}
.listed li{
    padding:3px 0px;
    width:100%;
    float:left;
}
.listed li span{
    float:right;
    margin-right:10px;
}
.listed li a{
    float:left;
}
.gywm{
	width:600px;
	height:480px;
}
.span_style{
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
    text-indent:5px;
}
.demox li a{
	float:left;
}
.demox li span{
    float:right;
}
.demox li span img{
    width:20px;
    height:20px;
}
.listed li span a{
	padding:5px;
	color:blue;
	cursor:pointer;
	text-decoration:underline;
}
.new_gif{
   width:28px;
   height:14px;
   background:url(../images/new.gif);
}
.box1 li a{
   font-size:12px;
}
.box2 li span.styles{
   float:none;
}
.view-content li span{
   float:right;
}
.view-content li span.span_style{
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
    text-indent:5px;
	float:none;
}
.part2 .nr .wenzitwo ul li span.span_style{
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
    text-indent:5px;
	float:none;
}
.view-content .width_200,.view-content .width_500{
	width:70%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-overflow: ellipsis;/* IE/Safari */
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;/* Opera */
	-moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}

.width_500{
width:500px;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
text-overflow: ellipsis;/* IE/Safari */
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;/* Opera */
-moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.fwdt{
width:708px;
height:auto;
margin-top:60px;
padding-bottom:10px;
z-index:1px;
overflow:hidden;
}
.left_menu_style{
  margin-left: 100px;
  margin-top: 9px;
  float:left;
}
.left_menu_style ul{
overflow:hidden;
}
.left_menu_style li{
  list-style:none;
  margin:2px 5px;
  display: inline-block;
  *display: inline;
  padding: 8px 14px;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.left_menu_style li:hover a{
   text-decoration:none;
}
.left_menu_style li a{
   color:#333;
   font-size:14px;
   font-weight:bold;
}
.back_li{
  background:#fff url(../images/left_li_back.jpg) no-repeat;
}
.comm_style{
  position:relative;
}
.comm_style .block-menu{
  position:absolute;
  left:96px;
  top:153px;
  z-index:20;
  padding:3px;
}
.comm_style .menu {
  margin-left:5px;
  width:529px;
  height:auto;
  overflow:hidden;
  list-style:none;
}
.comm_style .menu li{
  list-style:none;
  float:left;
  margin:2px 5px;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.search_btn{
   -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/buttons.gif") repeat-x scroll 0 0 #FFFFFF;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    border-image: none;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    color: #3A3A3A;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 1em;
    margin-right: 0.6em;
    padding: 4px 17px;
    text-align: center;
}
.comm_style .menu li:hover,.left_menu_style li.li_action{
  
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.comm_style .menu li:hover a{
  color: #ffffff;
}
.comm_style .menu li a:hover{
  text-decoration:none;
}
.node-ztbxx h2,.node-gsgg h2,.node-dqtd h2,.node-gzdt h2,.node-zcfg h2,.node-jgyw h2,.node-bszn h2,.node-xhbz h2{
  text-align:center;
  font-weight:bold;
  padding-top:10px;
  font-size:20px;
}
.node-ztbxx .meta,.node-gsgg .meta,.node-dqtd .meta,.node-gzdt .meta,.node-zcfg .meta,.node-jgyw .meta,.node-bszn .meta,.node-xhbz .meta{
  display:none;
}
.block .field-item p{
   text-align:left;
}
.title_h2{
  text-indent:1em;
  font-weight:bold;
  padding:3px;
  background-color;
}
#block-user-login{
  width:268px;
  height:217px;
  float:left;
  border:1px solid #aaa;
  border-top:none;
  margin-top:10px;
  margin-bottom:10px;
}
#block-user-login h2{
  background: url("../images/titlebg2.jpg") repeat-x ;
  float: left;
  height: 28px;
  width: 313px;
  font-family: Î¢ÈíÑÅºÚ;
  font-size: 14px;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  text-indent:15px;
}
#block-user-login  .content{
  float:left;
  margin-left:20px;
}
#block-user-login .form-item{
  margin-left:10px;
  float:left;
  width:100%;
}
.form-item label{
    height:34px;
	line-height:34px;
	width:100px;
}
.form-item label,.form-item input{
  float:left;
}

#user-login-form  .form-actions {
    float: left;
    margin: 0;
    padding-top: 0;
    width: 100px;
}
#user-login-form .item-list ul,#user-login-form  .item-list ul li{
  float:left;
}
#user-login-form .item-list ul li{
  margin:0px 5px;
}
#edit-actions{
   padding-top:10px;
}
.content_style{
   height:auto;
   font-family: "ËÎÌå";
}
.item-list{
	_float:left;
	_width:100%;
}
#block-system-main .view-content .item-list ul li{
  padding:2px 3px;
}
.span_style_h{
  padding:5px 0px 10px 0px;
  display:inline-block;
  width:100%;
  text-align:center;
  color:#909090;
}
.field-name-field-download-file{
  display:none;
}
.margin-left{
  margin-left:20px;
  font-weight:bold;
  padding:5px;
}
.margin-left a{
  color:#006699;
  text-decoration:underline;
}
.box11 {
    border: 1px solid #DFDFDF;
    height: 263px;
    margin-top: 10px;
    width: 233px;
    border-top:none;
}
.box11 h1 {
    background: url("../images/titlebg2.jpg") repeat-x ;
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 27px;
    padding-left: 10px;
    width: 223px;
}
.box11 p {
    border-bottom: 1px solid #E7E7E7;
    color: #780107;
    margin-top: 5px;
    padding-left: 10px;
}
.box11 ul {
    margin-top: 8px;
}
.box11 li {
    float: left;
    line-height: 23px;
    margin-left: 10px;
    padding-left: 10px;
    width: 203px;
}
.box1 .views-row a,.box5 .views-row a,.box2 .views-row a,.part2 .views-row a,#footer li a
,.pages_style .ul_style .views-row .field-content a{
    color:#333;
}
.part2 .ul_style .field-content{
    float:left;
    width:75%;
    font-size:12px;
    height:22px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.box1 .ul_style .field-content,.box2 .ul_style .field-content,.box5 .field-content{
    float:left;
    width:68%;
    font-size:12px;
    height:24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.box3 .ul_style .field-content{
	float:left;
    width:58%;
    font-size:12px;
    height:24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.part2 .ul_style {
    float: left;
    width: 675px;
    background-color:#fff;
    height:188px;
    overflow:hidden;
}
.box1 .ul_style {
    float: left;
    background-color:#fff;
    height:157px;
    overflow:hidden;
    width: 360px;
    padding:0px 0px 5px 5px; 
}
.box2 .title,.part2 .title,.box .title,.box3 .title .txt{
	line-height:29px;
	padding-left:10px;
	font-weight:bold;
}
.box1 .title .txt,.box2 .title .txt,.part2 .title .txt,.box .title .txt,.box3 .title .txt{
    float:left;
}
.block{float:left; overflow:hidden;}
.right .block{*+width:272px}
ul.quicktabs-tabs.quicktabs-style-basic li{
	*+float:left;
}
#block-views-jgyw-block-1{
	float:right;
}
.part2 .ul_style{
	margin:3px;
}
.box5 .txt{
	float:left;
	height:30px;
	line-height:29px;
	font-weight:bold;
	margin-left:10px;
}
.box5 .more,.box2 .more{
	float:right;
	margin-right:5px;
}
.pages_style{
    width:700px;
    min-height:300px;
    margin:0px 5px;
    padding:10px 0px;
}

.pages_style .title .txt{
    font-size:16px;
    font-weight:bold;
}
.pages_style .ul_style{
    margin: 10px;
    border:0;
}
.pages_style .ul_style .views-row .field-content{
    float:left;
    width:80%;
    height:24px;
    font-size:12px;
    height:24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.pages_style .ul_style .views-row .date{
    float:right;
}
.content_style .clearfix{
    padding:5px;
}
.content_style .clearfix p{
    text-align:left;
}
.pages_style .more{display:none;}
.node .webform-client-form .form-item,.node .webform-client-form .form-actions{
    float:left;
    width:435px;
}
.node .webform-client-form
.node .webform-client-form .form-item label{
    width:100px;
    text-align:right;
}
.node .webform-client-form .form-item .form-text{
    float:left;
    width:200px;
}
.node .form-textarea-wrapper{
    float:left;
    width:210px;
}
.node .webform-container-inline label{
    margin-right:0px;
}
.node .webform-client-form .form-item .form-textarea,
.node .webform-client-form .form-item .grippie{
    float:left;
    width:400px;
}
.node .webform-client-form .form-item .grippie{
    width:398px;
}

.node .webform-client-form .form-actions .form-submit{
    float:left;
    margin-left:100px;
}
.node .form-item, .form-actions{
    margin-top:0px;
}
.node .webform-client-form .webform-container-inline .form-item{
	float:none;
	width:auto;
}
.node .webform-client-form .form-radio{
	margin-top:10px;
}
.node .webform-client-form .form-item label.option{
	width:auto;
}
#block-views-notice-view-block{}
.box_top{
    width:260px;
    height:30px;
    padding-left:20px;
    text-indent:20px;
    background:#fff url(../images/notice.gif) no-repeat 15px 8px;
    
}
.box_top li{
    line-height:30px;
    height:30px;
}
.box_top li a{
    color:#000;
    font-size:12px;
}
.content_style h2{
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
#block-system-main{width:100%}

#demo1 {
float: left;
width:100%;
margin-top:0px;
}
#demo2 {
float: left;
width:100%;
}
#demo {
margin-left:10px;
background: #FFF;
height:30px;
overflow:hidden;
}
.return_top{
    width:62px;
    height:60px;
    position:fixed;
    _position:absolute;
    bottom:98px;
    right:88px;
    background:url(../images/return_top.gif);
    display:none;
    
}
#main{
position:relative;
}
#block-views-notice-view-block .view-content li span{
	float:none;
}


#block-block-12{height:25px; padding-top:2px; padding-bottom:3px; background-color:#fff; float:right;}
.region-notice{background-color:#fff; overflow:hidden; width:1000px; height:30px;}


#mobile1 a{
    width:200px;
}
.right #block-search-form{
	padding:2px 0px;
}
.content_style .clearfix:after{
	content:none;
}

#comments{
	width:600px;
	margin-left:10px;
}
.form-item a{
	line-height:34px;
}
.comment-form .form-textarea{
	wdith:400px;
}
.form-type-textarea label,.form-type-textarea div{
	float:left;
}
.form-type-textarea div{
	width:400px;
}
.block-crumbs{
	width:100%;
	height:30px;
	margin-top:22px;
	margin-left:10px;
}
.filter-wrapper{
	width:398px;
	margin-left:120px;
}
#block-search-form{height:26px; padding:2px 5px;background-color:#fff; float:left; margin:0px;margin-left:42px;}
.cloudy{float:right;}
.now_date{float:left;line-height:29px; color:#000;font-size:13px; margin-right:5px;}

.block-quicktabs{
	width:708px;
	margin-top:10px;
}

ul.quicktabs-tabs.quicktabs-style-basic li{
	height:23px;
	display:inline-block;
	border:0;
}
.quicktabs_main.quicktabs-style-basic{
	border-top:0;
}
.node-xhbz .content .devel-themer-wrapper{
	display:none;
}
.node-xhbz .download{
	color:#006699;
	text-decoration:underline;
}
.title_name{
	float:Left;
	font-size:12px;
	padding:0px 2px;
	*+width:50px;
	text-align:center;
	color:#0175fd;
}
.title_name span{
	*+float:left;
}
.ul_style li{
	overflow:hidden;
}
.content p span{
	font-size:14px!important;
	font-family:"Î¢ÈíÑÅºÚ"!important;
}
.content p b span{
	font-size:16pt!important;
}
.node-bszn .devel-themer-wrapper{
	display:none;
}
#node-66{display:none;}
.top_right{
	position:absolute;
	right:0px;
	top:0px;
	z-index:99;
}
.now_date{
	color:#fff;
}
.now_date a{
    color:#fff;
}
#user-login,#user-pass{
	padding-top:30px;
}
#user-register-form .form-item,#user-login .form-item,#user-pass .form-item{
	margin-left:225px;
	height:auto;
	overflow:hidden;
}
#user-register-form .form-item label,#user-login .form-item label,#user-pass .form-item label{
	width:102px;
	float:left;
}
#user-register-form .form-item input,#user-login .form-item input,#user-pass .form-item input{
    width:300px;
    float:left;
}
#user-register-form .form-item div,#user-login .form-item div,#user-pass .form-item div{
    width:400px;
    float:left;
}
#user-register-form #edit-actions,#user-login #edit-actions,#user-pass #edit-actions{
	margin-left:327px;
}
#node-70,#node-120{
	display:none;
}

.main-menu-fix{
    position:fixed;
    _position:absolute;
    top:0px;
    z-index:9999;
    width:1000px;
}
.main-menu-fix2{
    position:fixed;
    _position:absolute;
    top:0px;
    z-index:9999;
    width:1000px;
}
#main-wrapper{
	z-index:10;
}
#user-login-form .item-list{
	float: right;
    margin-top: 5px;
    margin-right: 19px;
	
}
#user-login-form .item-list li a{
	color:#006699;
	text-decoration:underline;
	font-size:12px;
}
#user-register-form #edit-field-user-type-und{
	width:500px;
}
#user-register-form #edit-field-user-type-und .form-item{
	margin-left:0px;
	width:140px;
}
#edit-field-user-type-und .form-item  input{
    width:30px;
    margin-top:5px;
}
#edit-field-user-type-und .form-item  label{
    line-height:24px;
}
.logout a{
	color:#0071B3;
}
.webform-client-form{
	margin-left:150px;
}
#webform-client-form-51{
	margin-left:100px;
}
#user-login-form .form-item label{
	width:60px;
}
#main #content{
	padding-top:30px;
	clear: both;
    display: block;
}
#edit-field-user-type{
	padding-top:30px;
}
.user_img img{
	margin-top:5px;
}
.li_style_b{
	margin-top:20px;
	border-bottom:1px dashed #aaa;
}
.li_style_p span{
	overflow:hidden;
    vertical-align:middle;
    display:inline-block;
}
.user_infos li span.wcd{
	float:left;
	font-size:12px;
}
.user_infos li span.wcd label{
    color:red;
}
.margin_img{
	margin-left:60px;
}
.info_img{
	margin-left:20px;
	width:99px;
	height:30px;
	background:url(../images/public-botton.jpg);
	color:#fff!important;
	display:inline-block;
	line-height:29px;
	text-align:center;
}
.jd_style{
	float:left;
	width:50px;
    height: 5px;
    margin: 7px 0px 5px 5px;
    overflow: hidden;
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(top, #f0f0f0, #F9F9F9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#F9F9F9));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #F9F9F9);
    background-image: -o-linear-gradient(top, #f0f0f0, #F9F9F9);
    background-image: linear-gradient(to bottom, #f0f0f0, #F9F9F9);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.jd_style span{
	float:left;
	height:5px;
	width:0px;
	display:inline-block;
	background-color: #5BB75B;
    background-image: -moz-linear-gradient(top, #62C462, #51A351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
    background-image: -webkit-linear-gradient(top, #62C462, #51A351);
    background-image: -o-linear-gradient(top, #62C462, #51A351);
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
}
.view-user-project-view .pages_style .ul_style .views-row .field-content{
	width:72%;
}
.user_infos .ul_style li{
	margin:0px;
}
.user_infos .field-content{
	width:56%;
}
.user_infos .jd_style{
	margin-top:10px;
}
.box5 .user_infos ul {
	width:auto;
}
.infos_right_more{
	float:right;
	margin-right:10px;
	margin-top:5px;
}
.user_infos .display_li{
    width:120px!important;
    height:35px;
    float:left;
    font-size:12px;
    margin:2px;
    text-indent:32px;
    line-height:34px;
    cursor:pointer;
}
.user_infos .display_li_img1{
    background:url(../images/everyday1.gif) no-repeat left center;
}
.user_infos .display_li_img2{
    background:url(../images/everyday2.gif) no-repeat left center;
}
.user_infos .display_li_img3{
    background:url(../images/everyday3.gif) no-repeat left center;
}
.user_infos .display_li_img4{
    background:url(../images/everyday4.gif) no-repeat left center;
}
.user_infos .display_li_img11{
    background:url(../images/everyday11.gif) no-repeat left center;
    color:#fff;
}
.user_infos .display_li_img22{
    background:url(../images/everyday22.gif) no-repeat left center;
    color:#fff;
}
.user_infos .display_li_img33{
    background:url(../images/everyday33.gif) no-repeat left center;
    color:#fff;
}
.user_infos .display_li_img44{
    background:url(../images/everyday44.gif) no-repeat left center;
    color:#fff;
}
.display_ul_style{
	border:1px solid #aaa;
	overflow:hidden;
}
.display_ul_style li{
	margin:0px;
}
.div_action{
	overflow:hidden;
	border:1px solid #aaa;
	border-top:none;
}
.div_action .ul_style{
	margin:5px 5px;
}
.div_display{
	display:none;
}
#container{
	position:absolute;
	top:100px;
	z-index:9999;
	border:1px solid #aaa;
	display:none;
}
.cursor_click{
	cursor:pointer;
}
.wsyjx{
	display:inline-block;
	width:200px;
	height:200px;
	margin-left:35px;
	background:url(../images/xx.jpg) no-repeat;
}
#back_div{
	background-color:#000; 
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute; 
	z-index:999;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
	display:none;
}
.highcharts-buttons{
	width:16px;
	height:16px;
	background:url(../images/close.gif);
	display:inline-block;
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
}
.text_inputs{
	float:left;
	height:22px;
	line-height:22px;
	color:#aaa;
}
.project_time_info{
	float:right;
	font-weight:100;
	font-size:12px;
	margin-right:35px;
}
.bsdt{
	background:#fff url(../images/bb.jpg) no-repeat 0px 22px;
	border:1px solid #aaa;
	overflow:hidden;
	min-height:300px;
	width:706px;
}
.left_menu_style .li_action a{
	color:#fff;
}

.project_info_name{
	float:left;
	width:150px;
	margin-left:5px;
	overflow:hidden;
	
}
.bf{
	margin-top:3px;
	width:100px;
	height:6px;
	border:1px solid #aaa;
}
.bf div{
	height:4px;
	margin:1px;
	padding:0;
	border:0;
	background-color:#20ae08;
}
.wc{
	float:left;
}
.project_info_name a label{
	font-size:14px;
}
.project_info{
	overflow:hidden;
	background-color:#fff;
	width:540px;
	position:relative;
}
.resizable-textarea .grippie{
	display:none;
}
#edit-comment-body-und-0-value{
	width:469px!important;
}
#main-wrapper{
	z-index:100;
}
.node-suggestion-form,.node-workers_activist-form,.node-wshd-form{
	margin-left:150px;
}
.node-suggestion-form .form-item,.node-workers_activist-form .form-item,.node-wshd-form .form-item{
	float: left;
    width: 515px;
}
.node-suggestion-form .form-item .form-text,.node-workers_activist-form .form-item .form-text,.node-wshd-form .form-item .form-text{
	float: left;
    width: 200px;
}
.node-suggestion-form .form-item .form-textarea,.node-workers_activist-form .form-item .form-textarea,.node-wshd-form .form-item .form-textarea{
	height:100px!important;
}
.node-suggestion-form .form-actions,.node-workers_activist-form .form-actions,.node-wshd-form .form-actions{
	float: left;
    width: 435px;
}
.view-wshd-view .pages_style .more{
	float:right;
	display:block;
}
.type_name{
	float:left;
	margin-right:4px;
}
.box3 li .type_name span{
	color:#006699;
}
.date{
	font-size:12px;
	float:right;
}
#block-quicktabs-gsgg-tabs{
	width:270px!important;
}
.part3{
	width:258px;
	height: auto;
    overflow: hidden;
}
.part3 .ul_style {
    background-color: #FFFFFF;
    float: left;
    height: 188px;
    overflow: hidden;
    width: 248px;
}

.part3 .ul_style .field-content {
    -moz-binding: url("ellipsis.xml#ellipsis");
    float: left;
    font-size: 12px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 68%;
}
.part3 .title{
	font-weight: bold;
    line-height: 29px;
    padding-left: 10px;
}

.part3 .title span {
    float: right;
    margin-right: 10px;
}

.part3 .title .more a {
    color: #0000FF;
    text-decoration: underline;
}
#block-quicktabs-gsgg-tabs ul.quicktabs-tabs.quicktabs-style-basic{
	background:none;
	border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
#block-quicktabs-gsgg-tabs .titlesd .txt{
	float: left;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-left: 10px;
}
.box3 .title .more a{
	font-weight:bold;
}
.titlesd{
	background: url("/sites/all/themes/holiday/images/titlebg3.jpg") repeat-x;
    height: 30px;
    font-weight: bold;
    line-height: 29px;
    padding-left: 10px;
    width:100%;
}
#block-user-login .content{
	padding-top:20px;
}
.left .block-system .content{
	
}
#node-115 h2{
	display:none;
}
.comment-permalink{
	display:none;
}
#edit-preview{
	display:none;
}
.comment-form #edit-actions{
	margin-left:120px;
}
.comment-text h3{
	font-weight:bold;
}
.comment-text h3 a{
	color:#006699!important;
}
#header{
	height:264px;
}
.project_title_name{
	float:left;
	width:540px;
	height:20px;
	padding:10px 0px 4px 0px;
	text-align:center;
}
#quicktabs-jb_xw{
	flaot:left;
	width:380px;
}
.part1 #block-quicktabs-jb-xw{
	flaot:right;
	width:380px;
	margin-left:10px;
	margin-top:0px;
}
#block-quicktabs-jb-xw #quicktabs-container-jb_xw{
	padding:0px;
}
.box1 .title .more a{
	color: #0000FF;
    text-decoration: underline;
}
.content_style .clearfix p.rtecenter{
	text-align:center;
}
.login_a{
  list-style:none;
  margin:2px;
  display: inline-block;
  *display: inline;
  padding:6px 8px;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.login_info{
	margin-left:30px;
	margin-top:10px;
}
.content_style .clearfix p.rteright{
	text-align:right;
}
.content_style .clearfix .devel-themer-wrapper{
	display:none;
}
#node-179 h2{
	display:none;
}
.node-jgyw .content p span{
    font-size:16px;
}
#edit-advanced .form-item label,#edit-advanced .form-item input{
	float:none;
}
.iframes{
	border:0;
}
.asss{
	margin-left:10px;
}
#node-223{
	display:none;
}
.pages_styles{
	width:700px;
	margin:0px 5px;
}
.pages_styles .title {
	padding: 10px;
	margin: 10px;
	border-bottom: 2px solid #053980;
}
.pages_styles .title .txt{
    font-size:16px;
    font-weight:bold;
}
.pages_styles .ul_style{
    margin: 10px;
    border:0;
}
.pages_styles .ul_style .views-row .field-content{
    float:left;
    width:80%;
    height:24px;
    font-size:12px;
    height:24px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.pages_styles .ul_style .views-row .date{
    float:right;
}
.pages_styles .more{
	float:right;
	display:block;
	margin-top:10px;
}
.quicktabs-tabpage .view-content{
	border:1px solid #aaa;
	border-top:0;
	border-top:none;
}
.lxwm{
	width:335px;
	float:left;
	padding-bottom:5px;
}
#bgxz{
	padding-top:10px;
}

#demoed {
background: #FFF;
overflow:hidden;
width: 996px;
}
#demoed img {
border: 3px solid #F2F2F2;
}
#indemoed {
float: left;
width: 800%;
}
#demoed1 {
float: left;
}
#demoed2 {
float: left;
}
#demoed1 div,#demoed2 div{
	float:left;
}